#  Ignorēt sensitīvos failus
.env

#  Ignorēt Composer instalācijas mapi
/vendor/

#  Ignorēt sistēmas un editoru failus
.DS_Store
Thumbs.db
*.log

#  Ignorēt VS Code un citu IDE konfigurācijas
.vscode/
.idea/
